[Desktop Entry]
Type=Application
Terminal=false
Exec=zotero-standalone.zotero-standalone
Name=Zotero
Icon=${SNAP}/meta/gui/icon.png
Categories=Utility;
